# Unnecessary folders
bin

# Include the target directory but
# Exclude index.html (Cukes report) from ignore list
target/*
!target/default-cucumber-reports
target/default-cucumber-reports/*
!target/default-cucumber-reports/index.html

# Mac users
*.DS_Store

#IntelliJ files
*.idea
*.iml

#Eclipse files
.metadata
local.properties
.settings/
.loadpath
.recommenders

#Compile class files
*.class

#Log files
*.log

#Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
